*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: 20px;
    flex: 1;

    width: 80%;
    margin: 0 auto;
    background-color:#f4f4f4;

    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#título-principal{
    display: flex;
    flex-direction: column;
    margin: 20px;
   
}

#título-principal h1{
    text-align: center;
}

#cabecalho{
    background: #f0f0f0 url("../Imagens/img-header.jpg") no-repeat center center / cover;
    padding: 25px 0 0 0;
    text-align: center;
    color: black;
}

#nav-bar{
    background-color: #ffb5c0;
    padding: 15px 0;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

#nav-bar a{
    text-decoration: none;
    font-size:large ;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}

#nav-bar a:hover{
    color: #50a39e;
    transform: scale(1.05);
}

/*Estilos para conteúdo*/
.conteudo-principal{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.container-conteudo h2{
    margin-bottom: 5px;
    border-bottom: 1px solid #ffb5c0;
} 

.container-conteudo{
    padding: 5px;
}

#nossos-valores-list{
    list-style: none;
    margin-left: 10px;
    margin-top: 5px;
}

/*Estilos para o footer*/
footer{
    padding: 10px;
}

footer p{
    text-align: center;
}

/*Estilo para a lista de produtos*/
.rows{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produto{
    display: flex;
    flex-direction: column;
    background-color: white;

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 10px;
    align-items: center;
}

.produto img{
    border-radius: 50%;

    transition: all 0.3s ease;
}

.produto img:hover{
    box-shadow: 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.titulos-h2{
    border-bottom: 1px solid #ffb5c0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*Estilos para o formulario*/

.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#form input,
#form textarea{
    outline: unset;
    padding: 15px;
    min-width: 300px;

    border: 1px solid #ff4081;
    border-radius: 15px;
}

#form input:focus,
#form textarea:focus{
    background-color: wheat;
}

.botao{
    background: linear-gradient(45deg, #ff4081, #ff80ab);
    border: none;
    padding: 12px 30px;
    cursor: pointer;

    font-weight: bold;
    color: white;
    text-align: center;

    transition: all 0.3s ease;
}

.botao:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px rgba(0, 0, 0, 0.2);
}