*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: 20px;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

#título-principal{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
    /* background-image: url("../Imagens/img-catalogo.jpg"); */
}

#título-principal h1
{
    text-align: center;
}

#título-principal img{ 
    margin: 0 auto;
    margin-top: 10px;
}

#nav-bar{
    background-color: #ffb5c0;
    padding: 15px 0;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

#nav-bar a{
    text-decoration: none;
    font-size:large ;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
}

#nav-bar a:hover{
    color: #50a39e;
    transform: scale(1.05);
}


