*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    padding: 20px;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

#nav-bar{
    background-color: #ffb5c0;
    padding: 15px 0;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

#nav-bar a{
    text-decoration: none;
    font-weight: bold;
    color:black;


}
